#body {
  background-image: url("/images/space.jpg");
  background-color: rgb(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  font-family: Verdana, sans-serif;
  color: white;
}


#header {
  text-align: center; 
  height: 800px;
  width: auto;
}
#header-title {
  padding-top: 100px;
  font-size: 50px;
}
#header-img {
  height: 4%;
  width: 4%;
  user-select: none;
}
#greeting-button {
  cursor: pointer;
  border: 1px solid white;
  font-size: 16px;
  text-align: center;
  padding: 15px 20px;
  margin-top: 100px;
  background-color: black;
  color: white;
}
#greeting-button:hover {
  border-radius: 6px;
}
#greeting-container {
  font-size: 25px;
  padding-top: 40px;
}
#planet-left {
  width: 10%;
  height: 10%;
  padding-left: 75px;
  user-select: none;
}
#planet-right {
  width: 10%;
  height: 10%;
  padding-top: 50px;
  margin-left: 1650px;
  user-select: none;
}
#section-title {
  font-size: 40px;
  text-align: center;
  padding-right: 50px;
  margin-top: 75;
  margin-bottom: 60px;
}
#section-bio {  
  width: 900px;
  height: 450px;
  margin: 0px auto 180px auto;
  display: flex;
} 
#bio-img-holder {
  text-align: center;
  width: 40%;  
  margin-right: 100px;
}
#bio-img{
  margin-top: 20px;
  height: 70%;
  width: auto;
  user-select: none;
}
#bio-text {
  width: 500px;
  font-size: 20px;
}
#section-project {  
  width: 1200px;
  height: 500px;
  margin: 0px auto 180px auto;
  display: flex;
}
#project-img-holder {
  text-align: center;
  width: 50%;  
  margin-right: 150px;
}
#project-img {
  margin-top: 60px;
  height: 60%;
  width: auto;
  border-radius: 40%;
  user-select: none;
}
#project-github-img {
  height: 20%;
  width: 20%; 
  padding-left: 175px;
  user-select: none;
}
#project-text {
  width: 600;
  font-size: 20px;
  padding-top: 100px;
}

#planet-servlet-text{
  font-size: 20px;
  text-align: center;
}

#contact-section {
  background-color: black;
  text-align: left;
  margin:100px 20%;
  padding-left: 10%;
}
#header-contact {
  font-size: 40px;
  margin-bottom: 20px;
}
#name-box {
  width: 80%;
  resize: none;
  margin-bottom: 15px;
  padding: 5px 10px;
  font-size: 15px;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
}
#email-box {
  width: 80%;
  resize: none; 
  margin-bottom: 20px;
  padding: 5px 10px;  
  font-size: 15px;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
}
#message-box {
  width: 80%;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 5px 10px;  
  font-size: 15px;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
}
#submit-button {
  border: 1px solid white;
  font-size: 15px;
  text-align: center;
  padding: 15px 20px;
  background-color: transparent;
  color: white;
}
#submit-button:hover {
  border-radius: 6px;
}
